body {
  margin: 0; }
  body .header {
    background-color: rgba(0, 0, 0, 0.26);
    padding: 10px; }
    body .header .logo {
      width: 10%;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px; }
      body .header .logo img {
        width: 100%;
        height: 100%; }
    body .header .page.title {
      display: inline-block;
      width: 50%; }
    body .header .nav {
      display: inline-block;
      margin-top: 0em;
      margin-right: 0px;
      background-color: #e4e8a0;
      padding: 16px;
      text-align: center;
      vertical-align: top;
      float: right;
      border-radius: 5px; }
      body .header .nav ul {
        font-size: 20px;
        margin: 0px;
        padding-right: 19px;
        list-style: none;
        margin-top: 20px; }
        body .header .nav ul:first-child {
          margin-top: 0; }
        body .header .nav ul li {
          border: 1px solid;
          padding: 5px;
          margin: 7px;
          background-color: rgba(52, 128, 125, 0.95);
          border-radius: 5px;
          font-size: 14px; }
          body .header .nav ul li.nav-item {
            display: block; }
          body .header .nav ul li.lang {
            display: inline; }
          body .header .nav ul li .active {
            color: darkorange; }
            body .header .nav ul li .active:hover {
              color: darkorange; }
          body .header .nav ul li a {
            color: #1e1e1e;
            margin: 5px;
            padding: 8px;
            text-decoration: none; }
            body .header .nav ul li a:hover {
              color: blue; }
      body .header .nav .userInfo {
        display: inline-block;
        margin-top: 20px; }
        body .header .nav .userInfo p {
          margin: 0 5px;
          padding: 1px 5px; }
  body .inpagenav {
    width: 25%;
    background-color: yellowgreen;
    float: left;
    padding: 10px; }
  body .main {
    padding: 10px;
    overflow: hidden; }
    body .main form {
      display: inline; }
      body .main form fieldset {
        display: inline;
        vertical-align: top; }
    body .main input:focus {
      background-color: yellow; }
    body .main .user-wrapper {
      display: flex;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid black; }
      body .main .user-wrapper .user {
        margin-right: 20px; }
      body .main .user-wrapper .item {
        margin-right: 20px; }
    body .main .items, body .main .bikesList {
      margin: 20px 0; }
      body .main .items .item.wrapper, body .main .bikesList .item.wrapper {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        padding: 10px;
        width: 272px;
        height: 570px;
        min-width: 200px;
        max-width: 300px;
        border: 1px crimson solid;
        border-radius: 3px;
        overflow: hidden; }
        body .main .items .item.wrapper .title, body .main .bikesList .item.wrapper .title {
          text-align: center; }
        body .main .items .item.wrapper .image, body .main .bikesList .item.wrapper .image {
          width: 100%;
          overflow: hidden; }
          body .main .items .item.wrapper .image img, body .main .bikesList .item.wrapper .image img {
            width: 100%; }
        body .main .items .item.wrapper .specs, body .main .bikesList .item.wrapper .specs {
          color: darkblue;
          line-height: .9em; }
      body .main .items form .current-img, body .main .bikesList form .current-img {
        width: 200px; }
        body .main .items form .current-img img, body .main .bikesList form .current-img img {
          width: 100%; }
      body .main .items .query.wrapper, body .main .bikesList .query.wrapper {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black; }
        body .main .items .query.wrapper .item, body .main .bikesList .query.wrapper .item {
          margin-right: 20px; }
  body .footer {
    clear: both;
    padding: 10px;
    background-color: #fff069; }

body {
  background-color: #fff069; }

#img {
  padding-left: 3.0em;
  width: 165px;
  height: 200px; }

@media (max-width: 569px) {
  .items {
    position: absolute;
    top: 42em; }
  div.main h2 {
    position: absolute;
    top: 30em; }
  .login {
    position: absolute;
    top: 49em;
    left: 1.5em; }
  .fieldset {
    position: absolute;
    top: 49em;
    left: 1.5em; }
  #AddBicycle {
    position: absolute;
    top: 43.5em;
    left: 1.5em; }
  .nav {
    position: absolute;
    top: 10em;
    left: 1.5em; }
  div.main div.account {
    position: absolute;
    top: 42em;
    left: 1.5em; }
  #neuesveloerfassen {
    position: absolute;
    top: 38em;
    left: 1.5em; }
  .form {
    position: absolute;
    top: 48em;
    left: 1.5em; }
  #meinkonto {
    position: absolute;
    top: 8em;
    left: 1.5em; }
  h2 {
    left: 1em; }
  .message {
    position: absolute;
    top: 43em;
    left: 1.5em; }
  #createaccount {
    position: absolute;
    top: 47em; } }
