body {
  margin: 0; }
  body .header {
    background-color: #aaffaa;
    padding: 10px; }
    body .header .logo {
      width: 10%;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px; }
      body .header .logo img {
        width: 100%;
        height: 100%; }
    body .header .page.title {
      display: inline-block;
      width: 50%; }
    body .header .nav {
      display: inline-block;
      background-color: #009926;
      padding: 10px;
      text-align: center;
      vertical-align: top;
      float: right; }
      body .header .nav ul {
        font-size: 20px;
        margin: 0px;
        padding: 0px;
        list-style: none;
        margin-top: 20px; }
        body .header .nav ul li {
          margin-right: 20px; }
          body .header .nav ul li.nav-item {
            display: block; }
          body .header .nav ul li.lang {
            display: inline; }
          body .header .nav ul li .active {
            color: darkorange; }
          body .header .nav ul li a {
            color: darkblue;
            margin: 0px;
            padding: 5px;
            text-decoration: none; }
            body .header .nav ul li a :hover {
              background: #222;
              color: #fff; }
  body .inpagenav {
    width: 25%;
    background-color: yellowgreen;
    float: left;
    padding: 10px; }
  body .main {
    background-color: lightblue;
    padding: 10px;
    overflow: hidden; }
    body .main input:focus {
      background-color: yellow; }
    body .main h2 {
      width: 80%;
      display: inline-block; }
    body .main .userInfo {
      display: inline-block;
      float: right; }
      body .main .userInfo p {
        margin: 0 5px;
        padding: 1px 5px; }
    body .main .items {
      margin: 20px 0; }
      body .main .items .item.wrapper {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 10px;
        width: 250px;
        min-width: 200px;
        max-width: 300px;
        border: 1px crimson solid;
        border-radius: 3px;
        overflow: hidden; }
        body .main .items .item.wrapper .title {
          text-align: center; }
        body .main .items .item.wrapper .image {
          width: 100%;
          overflow: hidden; }
          body .main .items .item.wrapper .image img {
            width: 100%; }
        body .main .items .item.wrapper .specs {
          color: darkblue;
          line-height: .3em; }
  body .footer {
    clear: both;
    padding: 10px;
    background-color: #ffdddd; }
