/*Mainly used for mobile navigation*/
body {
  font-family: Helvetica Neue, Arial, sans-serif;
  margin: 0;
  color: darkblue; }
  body a {
    text-decoration: none; }
  body .content {
    margin: 0 auto;
    background-color: lightblue; }
    body .content error {
      color: red; }
    body .content .header {
      background-color: lightblue;
      padding: 10px;
      display: flex;
      justify-content: space-between; }
      body .content .header .meta {
        font-size: 1em;
        min-width: 170px; }
        body .content .header .meta .langs {
          display: inline-block;
          vertical-align: top;
          padding-top: 6px; }
          body .content .header .meta .langs ul {
            display: flex;
            margin: 0px;
            padding: 0px;
            list-style: none;
            margin-top: 20px; }
            body .content .header .meta .langs ul:first-child {
              margin-top: 0; }
            body .content .header .meta .langs ul li.lang {
              display: inline; }
            body .content .header .meta .langs ul li .active {
              color: #1e17ff; }
            body .content .header .meta .langs ul li a {
              color: darkblue;
              margin: 0px;
              padding: 5px;
              text-decoration: none; }
              body .content .header .meta .langs ul li a:hover {
                color: blue; }
        body .content .header .meta .userInfo {
          display: inline-block;
          margin-left: 10px;
          position: relative;
          cursor: pointer; }
          body .content .header .meta .userInfo:hover .detail.hidden {
            display: block; }
          body .content .header .meta .userInfo .short {
            border: 1px solid gray;
            border-radius: 24px;
            padding: 11px 10px;
            display: inline-block; }
          body .content .header .meta .userInfo p {
            margin: 5px 0;
            text-align: right; }
          body .content .header .meta .userInfo > a {
            border: 1px solid gray;
            border-radius: 24px;
            padding: 11px 10px;
            display: inline-block;
            text-decoration: none; }
          body .content .header .meta .userInfo .detail.hidden {
            display: none;
            position: absolute;
            right: 0;
            overflow: hidden;
            width: 300%; }
      body .content .header .logo {
        width: 130px;
        min-width: 130px;
        height: 130px;
        min-height: 130px;
        margin-right: 20px; }
        body .content .header .logo img {
          width: 100%;
          height: 100%; }
    body .content .nav {
      text-align: center;
      padding: 10px; }
      body .content .nav ul {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin: 0px;
        padding: 0px;
        list-style: none;
        margin-top: 20px; }
        body .content .nav ul:first-child {
          margin-top: 0; }
        body .content .nav ul li.nav-item {
          display: block;
          padding: 5px;
          margin-top: 2px;
          margin-right: 5px;
          background-color: #c0bfbd;
          border-radius: 3px; }
        body .content .nav ul li.lang {
          display: inline; }
        body .content .nav ul li .active {
          color: #1e17ff; }
        body .content .nav ul li a {
          color: darkblue;
          margin: 0px;
          padding: 5px;
          text-decoration: none; }
          body .content .nav ul li a:hover {
            color: blue; }
    body .content .main {
      background-color: lightblue;
      padding: 10px;
      overflow: hidden; }
      body .content .main .login p a {
        text-decoration: none; }
      body .content .main form {
        display: inline; }
        body .content .main form fieldset {
          display: inline;
          vertical-align: top; }
          body .content .main form fieldset .current-img {
            width: 200px; }
            body .content .main form fieldset .current-img img {
              width: 100%; }
      body .content .main input:focus {
        background-color: yellow; }
      body .content .main .accountsList .account-wrapper {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #b9e6fa; }
        body .content .main .accountsList .account-wrapper form {
          display: flex;
          justify-content: flex-start; }
        body .content .main .accountsList .account-wrapper .account {
          margin-right: 10px; }
          body .content .main .accountsList .account-wrapper .account.id {
            min-width: 20px; }
          body .content .main .accountsList .account-wrapper .account.admin {
            width: 80px; }
      body .content .main .bikesList {
        display: flex;
        flex-wrap: wrap; }
        body .content .main .bikesList .bike-wrapper {
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 10px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          min-width: 200px;
          max-width: 250px;
          background-color: #b9e6fa; }
          body .content .main .bikesList .bike-wrapper .bike {
            margin-bottom: 10px; }
            body .content .main .bikesList .bike-wrapper .bike desc {
              color: gray; }
            body .content .main .bikesList .bike-wrapper .bike p {
              margin: 5px 0; }
            body .content .main .bikesList .bike-wrapper .bike.img {
              max-width: 100%;
              max-height: 200px;
              overflow: hidden;
              -webkit-border-radius: 4px;
              -moz-border-radius: 4px;
              border-radius: 4px; }
              body .content .main .bikesList .bike-wrapper .bike.img img {
                width: 100%; }
            body .content .main .bikesList .bike-wrapper .bike.id {
              margin-bottom: 10px; }
      body .content .main #bikes-wrapper .query .no-match {
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 10px;
        min-width: 250px;
        max-width: 500px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #b9e6fa; }
      body .content .main #admin-choice {
        display: flex;
        justify-content: center; }
        body .content .main #admin-choice button {
          font-size: 16px;
          padding: 5px 10px;
          border-radius: 5px;
          border-width: 0px;
          color: darkblue; }
          body .content .main #admin-choice button.active {
            color: blue; }
      body .content .main #admin-content h4 {
        text-align: center; }
      body .content .main .queriesList {
        display: flex;
        flex-wrap: wrap; }
        body .content .main .queriesList .query-wrapper {
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 10px;
          width: 200px;
          border-radius: 4px;
          background-color: #b9e6fa; }
          body .content .main .queriesList .query-wrapper .query {
            padding-bottom: 10px; }
            body .content .main .queriesList .query-wrapper .query desc {
              color: gray; }
            body .content .main .queriesList .query-wrapper .query.title p {
              margin: 5px 0; }
            body .content .main .queriesList .query-wrapper .query.id {
              margin-bottom: 10px; }
      body .content .main .user-wrapper {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        overflow: hidden;
        background-color: #b9e6fa; }
        body .content .main .user-wrapper .user {
          margin-right: 10px;
          overflow: hidden; }
          body .content .main .user-wrapper .user.id {
            width: 30px; }
          body .content .main .user-wrapper .user.name {
            width: 170px; }
          body .content .main .user-wrapper .user.login {
            width: 80px; }
          body .content .main .user-wrapper .user.dob {
            width: 120px; }
          body .content .main .user-wrapper .user.email {
            width: 170px; }
          body .content .main .user-wrapper .user.gender {
            width: 60px; }
        body .content .main .user-wrapper .item {
          margin-right: 20px; }
      body .content .main .items {
        margin: 20px 0;
        display: flex;
        flex-wrap: wrap; }
        body .content .main .items .item.wrapper {
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 10px;
          width: 250px;
          min-width: 200px;
          max-width: 300px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          overflow: hidden;
          background-color: #b9e6fa; }
          body .content .main .items .item.wrapper desc {
            color: gray; }
          body .content .main .items .item.wrapper .title {
            text-align: center; }
          body .content .main .items .item.wrapper .image {
            max-width: 300px;
            max-height: 180px;
            overflow: hidden;
            border-radius: 4px; }
            body .content .main .items .item.wrapper .image img {
              width: 100%;
              border-radius: 4px; }
          body .content .main .items .item.wrapper p {
            margin: .5em 0; }
        body .content .main .items form .current-img {
          width: 200px; }
          body .content .main .items form .current-img img {
            width: 100%; }
    body .content .footer {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      background-color: #c7dde8; }
      body .content .footer .general .logo {
        width: 60px;
        margin-right: 20px;
        display: inline-block; }
        body .content .footer .general .logo img {
          width: 100%; }
      body .content .footer .general .impressum {
        width: 100px;
        display: inline-block;
        vertical-align: top; }
        body .content .footer .general .impressum p {
          margin: 0; }

@media (max-width: 568px) {
  body .content {
    width: 100%; }
    body .content nav#desktop {
      display: none; }
    body .content .header {
      justify-content: start; }
      body .content .header .logo {
        width: 50px;
        min-width: 50px;
        height: 50px;
        min-height: 50px; }
      body .content .header > .meta {
        display: none; }
      body .content .header nav#mobile {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 40px;
        background-color: #b8e5f4; }
        body .content .header nav#mobile .meta .langs {
          display: block;
          padding-top: 0; }
          body .content .header nav#mobile .meta .langs a {
            padding: 0 5px; }
        body .content .header nav#mobile .meta .detail {
          display: block;
          margin-top: 12px; }
          body .content .header nav#mobile .meta .detail p {
            margin: 0 0 5px 0; }
      body .content .header nav ul {
        display: block; }
        body .content .header nav ul li.nav-item {
          background-color: unset;
          -webkit-border-radius: unset;
          -moz-border-radius: unset;
          border-radius: unset;
          margin-top: 0;
          margin-right: 0;
          padding: 3px; }
    body .content h1 {
      font-size: 1.5em;
      margin-top: 0; }
    body .content h2 {
      font-size: 1em;
      margin-top: 0; } }

@media (min-width: 569px) {
  body .content .header #mobNavIcon {
    display: block; }
  body .content .header nav#mobile {
    display: none; } }

@media (max-width: 900px) {
  body .content nav#desktop {
    display: none; }
  body .content .header {
    justify-content: start; }
    body .content .header > .meta {
      display: none; }
    body .content .header .logo {
      width: 14vw;
      min-width: 14vw;
      height: 14vw;
      min-height: 14vw; }
    body .content .header #mobNavIcon {
      z-index: 1;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer; }
      body .content .header #mobNavIcon #open {
        background-image: url("../../img/open.png");
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-repeat: no-repeat; }
      body .content .header #mobNavIcon #close {
        background-image: url("../../img/close.png");
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        background-repeat: no-repeat; }
    body .content .header nav#mobile {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      padding-right: 40px;
      background-color: #b8e5f4; }
      body .content .header nav#mobile .meta .langs {
        display: block;
        padding-top: 0; }
        body .content .header nav#mobile .meta .langs a {
          padding: 0 5px; }
      body .content .header nav#mobile .meta .detail {
        display: block;
        margin-top: 12px; }
        body .content .header nav#mobile .meta .detail p {
          margin: 0 0 5px 0; }
    body .content .header nav ul {
      display: block; }
      body .content .header nav ul li.nav-item {
        background-color: unset;
        -webkit-border-radius: unset;
        -moz-border-radius: unset;
        border-radius: unset;
        margin-top: 0;
        margin-right: 0;
        padding: 3px; }
  body .content .main .accountsList {
    display: flex;
    flex-wrap: wrap; }
    body .content .main .accountsList .accountHeader {
      display: none; }
    body .content .main .accountsList .account-wrapper {
      border-radius: 4px;
      border: unset;
      margin-right: 10px;
      background-color: #b9e6fa; }
      body .content .main .accountsList .account-wrapper form {
        flex-direction: column;
        width: 150px; }
        body .content .main .accountsList .account-wrapper form .account {
          width: unset; }
          body .content .main .accountsList .account-wrapper form .account.admin {
            display: inline-flex;
            width: unset; }
            body .content .main .accountsList .account-wrapper form .account.admin input {
              margin-right: 5px; }
        body .content .main .accountsList .account-wrapper form button {
          width: 50px; }
  body .content .main .usersList {
    display: flex;
    flex-wrap: wrap; }
    body .content .main .usersList .userHeader {
      display: none; }
    body .content .main .usersList .user-wrapper {
      border-radius: 4px;
      border: unset;
      margin-right: 10px;
      flex-direction: column;
      width: 200px;
      background-color: #b9e6fa;
      overflow: hidden;
      position: relative;
      padding-bottom: 40px; }
      body .content .main .usersList .user-wrapper .user {
        width: unset; }
        body .content .main .usersList .user-wrapper .user.email {
          overflow: hidden; }
        body .content .main .usersList .user-wrapper .user.admin {
          display: inline-flex;
          width: unset; }
          body .content .main .usersList .user-wrapper .user.admin input {
            margin-right: 5px; }
      body .content .main .usersList .user-wrapper button {
        width: auto;
        position: absolute;
        bottom: 6px; }
        body .content .main .usersList .user-wrapper button[name=editUser] {
          left: 9px; }
        body .content .main .usersList .user-wrapper button[name=deleteUser] {
          left: 70px; }
  body .content .main .queriesList .query-wrapper {
    border-radius: 4px;
    border: unset;
    background-color: #b9e6fa; } }

@media (min-width: 901px) {
  body .content .header #mobNavIcon {
    display: none; }
  body .content .header nav#mobile {
    display: none; } }
