* {
  background-color: lightblue;
}
body {
  margin: 0;
  .header {
    background-color: #aaffaa;
    padding: 10px;
  }
  .nav {
    background-color: #009926;
    padding: 10px;
    text-align: center;
  }
  .inpagenav {
    width: 25%;
    background-color: yellowgreen;
    float: left;
    padding: 10px;
  }
  .main {
    position: relative;
    float: left;
    width: 70%;
    background-color: lightblue;
    padding: 10px;
  }
  .footer {
    clear: both;
    padding: 10px;
    background-color: #ffdddd;
  }
}
