
body {
  font-family: "Helvetica Neue", SansSerif;
  margin: 0;
  background-color: honeydew;

  .content {
    width: 94%;
    margin: 0 auto;
    background-color: lightblue;

    .header {
      background-color: lightblue;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      .meta {
        font-size: 1em;

        .lang {
          display: inline-block;
          vertical-align: top;
          padding-top: 6px;

          ul {
            display: flex;
            margin: 0px;
            padding: 0px;
            list-style: none;

            &:first-child {
              margin-top: 0;
            }

            margin-top: 20px;

            li {

              &.lang {
                display: inline;
              }

              .active {
                color: rgb(30, 23, 255);
              }

              a {
                color: darkblue;
                margin: 0px;
                padding: 5px;
                text-decoration: none;

                &:hover {
                  color: blue;
                }
              }
            }
          }
        }


        .userInfo {
          display: inline-block;
          margin-left: 10px;

          &:hover .detail.hidden {
            display: block;
          }

          .short {
            border: 1px solid gray;
            border-radius: 24px;
            padding: 11px 10px;
            display: inline-block;
          }

          p {
            margin: 0 5px;
            padding: 1px 5px;
          }

          > a {
            border: 1px solid gray;
            border-radius: 24px;
            padding: 11px 10px;
            display: inline-block;
          }

          .detail.hidden {
            display: none;
          }
        }
      }

      .logo {
        width: 130px;
        height: 130px;
        margin-right: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .page.title {
      }
    }

    .nav {
      text-align: center;
      padding: 10px;

      ul {
        display: flex;
        font-size: 20px;
        margin: 0px;
        padding: 0px;
        list-style: none;

        &:first-child {
          margin-top: 0;
        }

        margin-top: 20px;

        li {
          &.nav-item {
            display: block;
            padding: 5px;
            margin-top: 2px;
            margin-right: 5px;
            background-color: rgb(192, 191, 189);
            border-radius: 3px;

            &:first-child {
              margin-left: 5px;
            }
          }

          &.lang {
            display: inline;
          }

          .active {
            color: rgb(30, 23, 255);

          }

          a {
            color: darkblue;
            margin: 0px;
            padding: 5px;
            text-decoration: none;

            &:hover {
              color: blue;
            }
          }
        }
      }

    }

    .main {
      background-color: lightblue;
      padding: 10px;
      overflow: hidden;

      form {
        display: inline;

        fieldset {
          display: inline;
          vertical-align: top;

          .current-img {
            width: 200px;

            img {
              width: 100%;
            }
          }
        }
      }

      input:focus {
        background-color: yellow;
      }

      .accountsList {
        .account-wrapper {
          display: flex;
          margin-bottom: 10px;
          padding: 10px;
          border: 1px solid black;

          form {
            display: flex;
            width: 100%;
          }

          .account {
            width: 17%;

            &.id {
              width: 6%;
            }

            &.admin {
              width: 10%;
            }
          }
        }
      }

      .bikesList {
        display: flex;
        flex-wrap: wrap;

        .bike-wrapper {
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 10px;
          border: 1px solid gray;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          min-width: 200px;
          max-width: 250px;

          .bike {
            padding-bottom: 10px;

            desc {
              color: gray;
            }

            p {
              margin: 5px 0;
            }

            &.img {
              width: 100%;

              img {
                width: 70%;
              }
            }

            &.id {
              margin-bottom: 10px;
            }
          }

        }
      }

      .queriesList {
        display: flex;
        flex-wrap: wrap;

        .query-wrapper {
          margin-bottom: 10px;
          margin-right: 10px;
          padding: 10px;
          border: 1px solid black;
          width: 200px;

          .query {
            padding-bottom: 10px;

            desc {
              color: gray;
            }

            &.title p {
              margin: 5px 0;
            }

            &.id {
              margin-bottom: 10px;
            }
          }

        }
      }

      .user-wrapper {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;

        .user {
          margin-right: 10px;

          &.id {
            width: 30px;
          }

          &.name {
            width: 170px;
          }

          &.login {
            width: 80px;
          }

          &.dob {
            width: 120px;
          }

          &.email {
            width: 170px;
          }

          &.gender {
            width: 60px;
          }
        }

        .item {
          margin-right: 20px;
        }
      }

      .items {
        margin: 20px 0;

        .item.wrapper {
          display: inline-block;
          margin-right: 5px;
          margin-bottom: 5px;
          padding: 10px;
          width: 250px;
          min-width: 200px;
          max-width: 300px;
          border: 1px gray solid;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          overflow: hidden;

          .title {
            text-align: center;
          }

          .image {
            width: 100%;
            overflow: hidden;

            img {
              width: 100%;
            }
          }

          .specs {
            color: darkblue;
            line-height: .3em;
          }
        }

        form {
          .current-img {
            width: 200px;

            img {
              width: 100%;
            }
          }
        }

      }

    }

    .footer {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      background-color: #c7dde8;

      .general {
        .logo {
          width: 60px;
          margin-right: 20px;
          display: inline-block;

          img {
            width: 100%;
          }
        }

        .impressum {
          width: 100px;
          display: inline-block;
          vertical-align: top;

          p {
            margin: 0;
          }
        }
      }


    }
  }

}
