
body {
  margin: 0;

  .header {
    background-color: rgba(0, 0, 0, 0.26);
    padding: 10px;

    .logo {
      width: 10%;
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .page.title {
      display: inline-block;
      width: 50%;
    }

    .nav {
      display: inline-block;
      margin-top: 0em;
      margin-right: 0px;
      background-color: rgb(228, 232, 160);
      padding: 16px;
      text-align: center;
      vertical-align: top;
      float: right;


      border-radius: 5px;

      ul {
        font-size: 20px;
        margin: 0px;
        padding-right: 19px;
        list-style: none;


        &:first-child {
          margin-top: 0;
        }

        margin-top: 20px;

        li { border:1px solid;
          padding:5px;
          margin :7px;
          background-color: rgba(52, 128, 125, 0.95);
          border-radius: 5px;
          font-size: 14px;
          &.nav-item {

            display: block;


          }

          &.lang {
            display: inline;
          }

          .active {
            color: darkorange;

            &:hover {
              color: darkorange;
            }
          }

          a {
            color: #1e1e1e;
            margin: 5px;
            padding: 8px;
            text-decoration: none;

            &:hover {
              color: blue;
            }
          }
        }
      }

      .userInfo {
        display: inline-block;
        margin-top: 20px;

        p {
          margin: 0 5px;
          padding: 1px 5px;
        }
      }

    }
  }

  .inpagenav {
    width: 25%;
    background-color: yellowgreen;
    float: left;
    padding: 10px;
  }

  .main {

    padding: 10px;
    overflow: hidden;

    form {
      display: inline;

      fieldset {
        display: inline;
        vertical-align: top;
      }
    }

    input:focus {
      background-color: yellow;
    }

    .user-wrapper {
      display: flex;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid black;

      .user {
        margin-right: 20px;
      }

      .item {
        margin-right: 20px;
      }
    }

    .items, .bikesList {
      margin: 20px 0;

      .item.wrapper {


        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        padding: 10px;
        width: 272px;
        height: 570px;
        min-width: 200px;
        max-width: 300px;
        border: 1px crimson solid;
        border-radius: 3px;
        overflow: hidden;

        .title {
          text-align: center;
        }

        .image {
          width: 100%;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .specs {
          color: darkblue;
          line-height: .9em;
        }
      }

      form {
        .current-img {
          width: 200px;

          img {
            width: 100%;
          }
        }
      }

      .query.wrapper {
        display: flex;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;

        .item {
          margin-right: 20px;
        }
      }
    }

  }

  .footer {
    clear: both;
    padding: 10px;
    background-color: #fff069;
  }
}
body{background-color: #fff069;
}
#img{
  padding-left: 3.0em;
  width: 165px;
  height: 200px;
}

@media (max-width: 569px) {
  .items{
    position:absolute;
    top:42em;

  }
  div.main h2{

    position: absolute;
    top: 30em;
  }
  .login{
    position:absolute;
    top:49em;
    left:1.5em;

  }
  .fieldset{
    position:absolute;
    top:49em;
    left:1.5em;

  }

  #AddBicycle{
    position:absolute;
    top:43.5em;
    left:1.5em;


  }
  .nav{
    position: absolute;
    top: 10em;
    left:1.5em;
  }

div.main div.account{
  position:absolute;
  top:42em;
  left:1.5em;
}
  #neuesveloerfassen{
    position:absolute;
    top:38em;
    left:1.5em;

  }
  .form{
    position:absolute;
    top:48em;
    left:1.5em;
  }
  #meinkonto{
    position:absolute;
    top:8em;
    left:1.5em;
  }
  h2{
    left:1em;
  }
  .message{
    position:absolute;
    top:43em;
    left:1.5em;
  }
  #createaccount{
    position:absolute;
    top:47em;

  }
}
